<%= image_tag('logo.png') %>
<h2><%= @post.created_at.year %>年<%= @post.created_at.month %>月<%= @post.created_at.day %>日の日記を編集します</h2>
<%= render 'form' %>
<span class="button"><%= link_to 'ホーム', controller: 'posts', action: 'homepage' %></span>
