<%= image_tag '/images/logo.png' %>
<div class='panel panel-success'>
  <div class='panel-heading'>
    <h2><%= @post.created_at.year %>年<%= @post.created_at.month %>月<%= @post.created_at.day %>日の日記を編集する</h2>
  </div>
  <div class='panel-body'>
    <table>
      <tr>
        <td><%= render 'form' %></td>
        <td><%= image_tag '/images/book.png', width: 250, height: 300 %></td>
      </tr>
    </table>
  </div>
</div>
