<%= render 'cover' %>
<a name='top'></a>
<div>
  <%= link_to '日記一覧', posts_path, class: 'btn btn-info' %>
  <div class='btn-group'>
    <button class='btn btn-success dropdown-toggle' data-toggle='dropdown'>
      2014年 <span class='caret'></span>
    </button>
    <ul class='dropdown-menu' role='menu' align='right'>
      <li><%= link_to 'Not available', root_path %></li>
    </ul>
  </div>
</div>
<br/>
<% @posts.each do |post| %>
  <div class='panel panel-info'>
    <div class='panel-heading'>
      <b><%= post.created_at.year %>年<%= post.created_at.month %>月<%= post.created_at.day %>日の日記</b>
      <span class='label label-warning'>
        <% if post.created_at.monday? %>月曜日
        <% elsif post.created_at.tuesday? %>火曜日
        <% elsif post.created_at.wednesday? %>水曜日
        <% elsif post.created_at.thursday? %>木曜日
        <% elsif post.created_at.friday? %>金曜日
        <% elsif post.created_at.saturday? %>土曜日
        <% else %>日曜日
        <% end %>
      </span>
    </div>
    <div class='panel-body'>
      <%= post.text.gsub(/\n/, '<br/>').html_safe %>
    </div>
  </div>
  <center><a href='#top'><button class='btn btn-success btn-lg' style='width: 500px'>上に戻る</button></a></center>
<% end %>
