<%= image_tag '/images/logo.png' %>
<div>
  <%= link_to 'ホーム', root_path, class: 'btn btn-primary', style: 'width: 150px' %>
  <%= link_to '今日の日記を書く', new_post_path, class: 'btn btn-info', style: 'width: 150px' %>
</div>
<br/>
<table class='table-bordered'>
  <tr class='alert alert-success'>
    <td width=50px align=right>ID</td>
    <td width=100px align=right>日</td>
    <td width=500px align=center>内容</td>
  </tr>
  <% i=0 %>
  <% @posts.each do |post| %>
    <% i+=1 %>
    <tr>
      <td align=right><%= i %></td>
      <td align=right><%= post.created_at.strftime('%Y/%m/%d') %></td>
      <td>
        <%= post.text.first(30) %>
        <% if post.text.length > 30 %>
          <b>[...]</b>
        <% end %>
      </td>
      <td><%= link_to '詳細', post, class: 'btn btn-success btn-sm', style: 'width: 50px' %></td>
      <td><%= link_to '編集', edit_post_path(post), class: 'btn btn-warning btn-sm', style: 'width: 50px' %></td>
      <td><%= link_to '削除', post_path(post), method: :delete, data: {confirm: '削除して宜しいですか？'}, class: 'btn btn-danger btn-sm', style: 'width: 50px' %></td>
    </tr>
  <% end %>
</table>
