<%= image_tag '/images/logo.png' %>
<div class='panel panel-success'>
  <div class='panel-heading'><h2><%= @post.created_at.year %>年<%= @post.created_at.month %>月<%= @post.created_at.day %>日の日記</h2></div>
  <div class='panel-body'><%= @post.text.gsub(/\n/, "<br/>").html_safe %></div>
</div>
<div>
  <%= link_to 'ホーム', root_path, class: 'btn btn-primary btn-lg', style: 'width: 100px' %>
  <%= link_to '日記一覧', posts_path, class: 'btn btn-info btn-lg', style: 'width: 100px' %>
  <%= link_to '編集', edit_post_path(@post), class: 'btn btn-warning btn-lg', style: 'width: 100px' %>
  <%= link_to '削除', post_path(@post), method: :delete, data: {confirm: '削除して宜しいですか？'}, class: 'btn btn-danger btn-lg', style: 'width: 100px' %>
</div>
